@font-face {
    font-family: 'DS-Digital Normal';
    font-style: normal;
    font-weight: normal;
    src: local('DS-Digital Normal'), url('DS-DIGI.woff') format('woff');
    }
.cal-container{
    background-color:#020826;
    height: 600px;
    width:500px;
    margin: 100px auto ;
}
.screen{
    width: 400px;
    height:80px;
    margin: 30px 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color:#fffffe;
    font-size:50px;
    text-align: right;
    font-family: 'DS-Digital Normal';
    
}
.btn-container{
    width:400px;
    height:360px;
    margin: 30px 38px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}
.btn{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin:10px;
    text-align: center;
    background-color:#8c7851;
    border: none;
    font-size: 19px;
}
.btn-c{
    background-color: #f25042;
}
.btn-operator{
    background-color:#eaddcf;
}

