@font-face {
    font-family: 'DS-Digital Normal';
    font-style: normal;
    font-weight: normal;
    src: local('DS-Digital Normal'), url('DS-DIGI.woff') format('woff');
    }
.cal-container{
    background-color:#020826;
    height: 600px;
    width:500px;
    margin: 100px auto ;
}
.screen{
    width: 400px;
    height:80px;
    margin: 30px 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color:#fffffe;
    font-size:50px;
    text-align: right;
    font-family: 'DS-Digital Normal';
    
}

